#title {
  text-align: center;
  font-family: Arial
}
#date {
  text-align: center;
  font-family: Arial;
}

#form {
  text-align: center;
}

#container {
  display: inline-grid;
  margin: 1rem;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 9rem;
  height: 12rem;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52; 
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial;
  scrollbar-width: thin;
  scrollbar-color: rgb(83, 114, 218) #e04b52;
}

.card h3 {
  margin: 0
  
}

.card p {
  margin: 0
}

.card li {
text-align: left;
padding-left: 0;
list-style-type: circle;
}